TELEGRAM_BOT_TOKEN=pega_aqui_el_token_de_BotFather
AUTHORIZED_USER_IDS=123456789
ADMIN_USER_IDS=123456789
ACCESS_MODE=invite_code
INVITE_CODE=TRIAS2026
MAX_AUDIO_SECONDS=60
MAX_QUEUE_SIZE=10
MIN_LANGUAGE_CONFIDENCE=0.70
TTS_VOICE=af_sarah
TTS_SPEED=1.0
TTS_LANG=en-us
WHISPER_MODEL=small
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
LLAMA_MODEL_PATH=./models/Meta-Llama-3.1-8B-Instruct-Q4_K_M.gguf
LLAMA_GPU_LAYERS=-1
LLAMA_CTX=4096
TTS_ONNX_PROVIDER=CPUExecutionProvider
